.hexagon {
  position: relative;
  width: 200px;
  height: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexSide {
  position: absolute;
  width: 100px; /* Adjust size as necessary */
  height: 100px; /* Adjust size as necessary */
  background: url("/chainlink-element.png") no-repeat center center;
  background-size: cover;
}

.bottomLeft {
  transform: rotate(0deg);
  bottom: 0;
  left: 50%;
  transform-origin: bottom left;
}

.topLeft {
  transform: rotate(60deg);
  top: 25%;
  left: 0;
  transform-origin: bottom left;
}

.topRight {
  transform: rotate(120deg);
  top: 25%;
  right: 0;
  transform-origin: bottom left;
}

.bottomRight {
  transform: rotate(180deg);
  bottom: 0;
  right: 50%;
  transform-origin: bottom left;
}

.left {
  transform: rotate(-120deg);
  top: 50%;
  left: 0;
  transform-origin: bottom left;
}

.right {
  transform: rotate(-60deg);
  top: 50%;
  right: 0;
  transform-origin: bottom left;
}
